@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,300;1,7..72,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 27, 24, 26;
  --color-primary: 255, 45, 172;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ff57bd, 0 0 15px #ff57bd, 0 0 20px #ff57bd, 0 0 40px #ff57bd, 0 0 60px #ff2dac, 0 0 10px #ff57bd, 0 0 98px #ff2dac;
    color: #ffd5ee;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ff57bd, 0 0 15px #ff57bd, 0 0 20px #ff57bd, 0 0 40px #ff57bd, 0 0 60px #ff2dac, 0 0 10px #ff57bd, 0 0 98px #ff2dac;
    color: #ffd5ee;
  }
}