@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,300;1,7..72,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 27, 24, 26;
    --color-primary: 255, 45, 172;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
    accent-color: rgb(var(--color-primary));
}